* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 30px;
  height: 100%;
}

.hero-block {
  height: 800px;
  background-image: url(img/cpbg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 800px;
  padding-top: 20px;
}

.hero-block .container {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 42px;
  list-style: none;
}

.yellow {
  width: 624px;
  height: 369px;
  background-image: url(img/Rectangle\ 59.png);
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

h1 {
  font-family: 'Archangelsk';
  font-size: 60px;
  font-weight: 600;
}

@font-face {
  font-family: 'Archangelsk';
  src: url('Archangelsk.ttf');
}

.ub {
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  color: #F8F200;

}

.mini-div {
  background-color: black;
  width: 272px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

}

.sect-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 70px 0;
}

.night-city {
  font-family: 'Archangelsk';
  font-size: 62px;

}

.pisanina {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  margin-top: 25px;
  color: grey;
  line-height: 34px;
}

.cp77 {
  color: #52BEDC;
}

.photo2 {
  width: 460px;
  height: 196px;
  display: grid;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(img/Rectangle\ 62.png);
}

.photo3 {
  width: 460px;
  height: 196px;
  display: grid;
  grid-column: 1/3;
  grid-row: 2/3;
  background-image: url(img/Rectangle\ 63.png);
}

.photo1 {
  width: 788px;
  height: 424px;
  display: grid;
  grid-column: 3/6;
  grid-row: 1/3;
  background-image: url(img/Rectangle\ 61.png);
}

.mini-gallery {
  display: grid;
  grid-template-columns: 230px 230px 262px 262px 262px;
  grid-template-rows: 212px 212px;
  gap: 16px;
  margin-top: 70px;
}

.sect-three {
  background-image: url(img/Rectangle\ 60.png);
  color: white;
}

.soed {
  height: 70px;
  background-image: url(img/22\ 1.png);
}

.soed-two {
  height: 70px;
  background-image: url(img/22\ 2.png);
}

.sale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  margin-bottom: 25px;
}

.iiw {
  font-family: 'archangelsk';
  color: white;
  font-size: 62px;
}

.pisanina-two {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

input {
  height: 35px;
  background-color: rgb(0, 0, 0);
  font-size: 18px;
  border: none;
  padding-left: 10px;
  color: white;
}

form  {
  width: 460px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input::placeholder {
  color: rgb(255, 255, 255);
  /* transform: translateY(-5px); */
}

.tipo-underline {
  color: rgb(170, 170, 170);
  /* transform: translateY(-28px); */
}

.skrin {
  width: 100%;
  height: 120px;
  border: 3px dashed grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  flex-direction: column;
}

.skrintwo {
  font-size: 20px;
  text-decoration: underline;
}

.send {
  width: 192px;
  height: 59px;
  margin-top: 35px;
  background-color: #F8F200;
  font-weight: 600;
  font-size: 18px;
}

.cbox {
  width: 14px;
  height: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid grey;
  display: inline-block;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

.cbox:checked::before {
  content: '✔';
  font-size: 18px;
  color: #F8F200;
}

.cb-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transform: translateX(10px) translateY(10px);
}

.hz {
  display: flex;
  flex-direction: row;
}

.ps-bg {
  width: 788px;
  height: 456px;

}

.dop-div {
  display: flex;
  flex-direction: row;
}

.form_and_img {
  margin-top: 98px;
  display: flex;
  flex-direction: row;
}

.sect-four {
  background-image: url(img/Rectangle\ 593.png);
  height: 676px;
  transform: translateY(-1px);
  padding-top: 70px;
}

.another-div {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.sect-four-text {

}

.sect-four-h2 {

   font-size: 62px;
   font-family: archangelsk;
}

.sf-icons {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  gap: 10px;
}

.pisanina-three {
  margin-top: 25px;
  width: 624px;
  height: 125px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 34px;
}

.vector-imgs {
  display: flex;
  flex-direction: column;
  width: 32px;
  gap: 15px;
}

.vector-img-text {
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  gap: 30px;
}

.other-text {
  margin-bottom: 23px;
}

.sect-five {

  background-color: black;

}

.sect-five-text {
  padding: 70px 0;
}

.sect-five-h2 {
  font-family: 'archangelsk';
  font-size: 62px;
  margin-bottom: 24px;
  color: white;
}

.sf-blue-text {
  color: #52BEDC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
}

.sf-blue-text-two {
  margin-top: 70px;
}

.hp-logo {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 42px;
  padding-top: 26px;
}

.more {
  width: 194px;
  height: 59px;
  margin-top: 40px;
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #F8F200;
  font-size: 18px;
  border: none;
}

.vector-img-text-two  {
  line-height: 52px;
  padding-top: 10px;
  padding-left: 10px;
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sect-five-icons {
  display: flex;
  flex-direction: row;
}

.more-div {
  width: 320px;
}

.more-logos {
  width: 320px;
  margin-top: 30px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}

.more-logos2 {
  width: 320px;
  margin-top: 50px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
}


.vector-imgs-two {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  width: 32px;
  gap: 20px;
}

.ya-ustal {
  width: 624px;
}

.one-more-div {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.sf-blue-text-two {
  color: #52BEDC;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  
}

.ftr {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 13px 0;
}

.ftr-class {
  display: flex;
  flex-direction: row;
  gap: 300px;
}

.ftr-logos {
  display: flex;
  gap: 32px;
}

.ftr-ops {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
 
.ftr-text {
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ftr-text-two {
  width: 300px;
  font-size: 18px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ftr-two {
  padding-top: 12px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: black;
  color: rgb(173, 173, 173);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width:320px) {
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  
  .container {
    max-width: 296px;
    margin: 0 auto;
    padding: 0 0px;
    height: 100%;
  }
  
  .hero-block {
    height: 800px;
    background-image: url(img/cpbg.jpg);
    background-repeat: no-repeat;
    background-size: 320px 800px;
    padding-top: 20px;
  }
  
  .hero-block .container {
    position: relative;
  }
  
  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav ul li {
    width: 25px;
  }
  
  nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 28px;
    list-style: none;
  }
  
  .yellow {
    width: 320px;
    height: 207px;
    background-image: url(adaptive/Rectangle\ 59.svg);
    position: absolute;
    bottom: 0;
    right: -12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 38px;
  }
  
  h1 {
    font-family: 'Archangelsk';
    font-size: 30px;
    line-height: 30px;
    font-weight: 600;
  }
  
  @font-face {
    font-family: 'Archangelsk';
    src: url('Archangelsk.ttf');
  }
  
  .ub {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: #F8F200;
    
  }
  
  .mini-div {
    background-color: black;
    width: 244px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sect-two {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px 0;
  }
  
  .night-city {
    font-family: 'Archangelsk';
    font-size: 30px;
  
  }
  
  .pisanina {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-top: 25px;
    color: grey;
    line-height: 32px;
  }
  
  .cp77 {
    color: #52BEDC;
  }
  
  .photo2 {
    width: 460px;
    height: 196px;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url(adaptive/Rectangle\ 62.png);
    background-repeat: no-repeat;
  }
  
  .photo3 {
    width: 460px;
    height: 196px;
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url(adaptive/Rectangle\ 63.png);
    background-repeat: no-repeat;
  }
  
  .photo1 {
    width: 788px;
    height: 424px;
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url(adaptive/Rectangle\ 61.png);
    background-repeat: no-repeat;
  }
  
  .mini-gallery {
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 196px 196px 424px;
    gap: 16px;
    margin-top: 70px;
    gap: 32px;
  }
  
  .sect-three {
    background-image: url(img/Rectangle\ 60.png);
    color: white;
    transform: translateY(-1px);
    height: 950px;
  }
  
  .soed {
    height: 70px;
   background-image: url(img/22\ 1.png);
  }
  
  .soed-two {
    height: 70px;
    background-image: url(img/22\ 2.png);
  }
  
  .sale {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 147px;
  }

  .akccia {
    width: 62px;
  }
  
  .iiw {
    font-family: 'archangelsk';
    color: white;
    font-size: 30px;
  }
  
  .pisanina-two {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
  }
  
  input {
    height: 35px;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    border: none;
    padding-left: 10px;
    color: white;
  }
  
  form  {
    width: 460px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input::placeholder {
    color: rgb(255, 255, 255);
    /* transform: translateY(-5px); */
  }
  
  .tipo-underline {
    color: rgb(170, 170, 170);
    /* transform: translateY(-28px); */
  }
  
  .skrin {
    width: 100%;
    height: 120px;
    border: 3px dashed grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
  }
  
  .skrintwo {
    font-size: 20px;
    text-decoration: underline;
  }
  
  .send {
    width: 192px;
    height: 59px;
    margin-top: 35px;
    background-color: #F8F200;
    font-weight: 600;
    font-size: 18px;
  }
  
  .cbox {
    width: 14px;
    height: 14px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid grey;
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
  }
  
  .cbox:checked::before {
    content: '✔';
    font-size: 18px;
    color: #F8F200;
  }
  
  .cb-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateX(10px) translateY(10px);
  }
  
  .hz {
    display: flex;
    flex-direction: row;
  }

  .ps-imgs {
    width: 0;
  }
  
  .ps-bg {
    width: 296px;
    height: 130px;
    transform: translateX(-300px) translateY(-480px);
  }
  
  .dop-div {
    display: flex;
    flex-direction: row;
  }
  
  .form_and_img {
    margin-top: 78px;
    display: flex;
    flex-direction: row;
  }
  
  .sect-four {
    padding-top: 70px;
    background-image: url(img/Rectangle\ 593.png);
    height: 1040px;
  }
  
  .another-div {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .soed-two {
    transform: translateY(-1px);
  }

  .sect-four-h2 {
     font-size: 30px;
     font-family: archangelsk;
  }

  .sect-four-img-two {
    width: 296px;
  }
  
  .sf-icons {
    display: flex;
    flex-direction: row;
    margin-top: 145px;
    gap: 10px;
  }
  
  .pisanina-three {
    margin-top: 25px;
    width: 296px;
    height: 125px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 34px;
  }
  
  .vector-imgs {
    display: flex;
    flex-direction: column;
    width: 32px;
    gap: 15px;
  }

  .vector-imgs-items {
    width: 24px;
  }
  
  .vector-img-text {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 10px;
  }
  
  .other-text {
    margin-bottom: 23px;
  }
  
  .sect-five {
  
    background-color: black;
  
  }
  
  .sect-five-text {
    padding: 70px 0;
  }
  
  .sect-five-h2 {
    margin-top: 160px;
    font-family: 'archangelsk';
    font-size: 30px;
    margin-bottom: 24px;
    color: white;
  }
  
  .sf-blue-text {
    color: #52BEDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .sf-blue-text-two {
    font-size: 20px;
    margin-top: 70px;
  }
  
  .hp-logo {
    padding: 0;
    display: flex;
    align-items: center;
    gap: 13px;
    padding-top: 26px;
  }

  .hp-logo-1 {
    width: 43px;
  }

  .hp-logo-2 {
    width: 50px;
  }
  
  .hp-logo-3 {
    width: 175px;
  }
  
  .more {
    width: 194px;
    height: 59px;
    margin-top: 40px;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #F8F200;
    font-size: 18px;
    border: none;
  }
  
  .vector-img-text-two  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 18px;
    padding-top: 20px;
    padding-left: 10px;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sect-five-icons {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  .pc-xbox {
    width: 296px;
  }
  
  .more-div {

    width: 320px;
  }
  
  .more-logos {
    width: 296px;
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  .more-logos2 {
    width: 296px;
    margin-top: 50px;
    gap: 30px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .vector-imgs-two {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 32px;
    gap: 20px;
  }

  .vector-imgs-two-items {
    width: 24px;
  }
  
  .ya-ustal {
    transform: translateX(-12px);
    position: absolute;
    width: 100vw;
    height: 198px;
  }
  
  .one-more-div {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  
  .sf-blue-text-two {
    color: #52BEDC;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    
  }
  
  .ftr {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 13px 0;
  }

  .ftr-cb-logo {
    width: 200px;
  }

  .CD-logo {
    width: 116px;
  }
  
  .ftr-class {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .ftr-logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  
  .ftr-ops {
    transform: translateX(-12px) translateY(13px);
    width: 320px;
    background-color: rgb(223, 223, 223);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
   
  .ftr-text {
    margin-top: 30px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .ftr-text-two {
    margin-left: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .ftr-two {
    padding-top: 12px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: black;
    color: rgb(173, 173, 173);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}